<!--================login_part Area =================-->
<section>
  <div class="wrapper">
    <div class="auth-content">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="mb-4 text-muted">Login to your account</h6>
          <form [formGroup]="form" (ngSubmit)="login()">
            <div class="mb-3 text-start">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                placeholder="Enter Email"
                formControlName="email"
                required
              />
            </div>
            <div class="mb-3 text-start">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
                required
              />
            </div>
            <div class="mb-3 text-start">
              <div class="form-check">
                <input
                  class="form-check-input"
                  formControlName="remember"
                  type="checkbox"
                  id="check1"
                />
                <label class="form-check-label" for="check1">
                  Remember me on this device
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary shadow-2 mb-4">
              Login
            </button>
          </form>
          <p class="mb-0 text-muted">
            Don't have an account yet? <a routerLink="../register">Signup</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--================login_part end =================-->
