<div class="left-side-bar">
  <div class="menu-block customscroll">
    <div class="sidebar-menu">
      <ul id="accordion-menu">
        <li>
          <a routerLink="/dashboard" class="dropdown-toggle no-arrow">
            <span class="micon bi bi-house"></span
            ><span class="mtext">Accueil</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle">
            <span class="micon bi bi-table"></span
            ><span class="mtext">Paramétrage</span>
          </a>
          <ul class="submenu">
            <li><a routerLink="dashboard/projet">Gestion projet</a></li>
            <li><a routerLink="dashboard/ticket">Gestion ticket</a></li>
            <li><a routerLink="dashboard/objet">Gestion objet</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/dashboard/user" class="dropdown-toggle no-arrow">
            <span class="micon bi bi-table"></span
            ><span class="mtext">Gestion User</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>
